<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Example">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <!-- Fix bug Error: No whitelist is configured, no code coverage will be generated. -->
    <filter> 
        <whitelist processUncoveredFilesFromWhitelist="true"> 
            <directory>./src</directory> 
        </whitelist> 
    </filter> 
</phpunit>